section.service
  .service__inner.inner
    .service__inner-wrapper.inner--width960
      h2.section-title
        p.section-title__ja 事業内容
        .section-title__en.title--service
          img(src="/aobotan/img/top/service/service-title-eng.svg" alt="service" loading="lazy")
      ul.service__cards
        li.service__card.card
          .card__inner
            .card__img-wrapper.card__img-wrapper--01
              img(src="/aobotan/img/top/service/service01.jpg" alt="住宅建築とリフォームについて紹介するための住宅の写真" loading="lazy" width="516" height="464")
            .card__body
              .card__title-wrapper.card__title-wrapper--01
                h3.card__title.card__title--01 住宅建築・リフォーム
              p.card__text 注文住宅では、お客様のニーズや希望に合わせて、オーダーメイドの家を提供します。私たちは、建物の設計から完成までのプロセスで、お客様と緊密に連携し、理想の暮らしを実現するための最適な解決策を提案します。
              a.btn.btn--primary.card__btn.btn--circle(type="button" href="./service/" value="具体的な事例を見る") Read More
        li.service__card.card
          .card__inner.card__inner--reverse
            .card__img-wrapper.card__img-wrapper--02
              img(src="/aobotan/img/top/service/service02.jpg" alt="法人新築とリフォームについて紹介するための工場の写真" loading="lazy" width="516" height="464")
            .card__body
              .card__title-wrapper.card__title-wrapper--02
                h3.card__title.card__title--02 法人新築・リフォーム
              p.card__text 法人新築では、商業施設やオフィスビル、工場など、さまざまなニーズに応じた建物の新築を手がけています。お客様のビジネスの要件やイメージに合わせて、効率的で機能的な建物を設計・施工します。
              a.btn.btn--primary.card__btn.btn--circle(type="button" href="./service/" value="具体的な事例を見る") Read More
        li.service__card.card
          .card__inner
            .card__img-wrapper.card__img-wrapper--03
              img(src="/aobotan/img/top/service/service03.jpg" alt="公共工事について紹介するための公共施設の写真" loading="lazy" width="516" height="464")
            .card__body
              .card__title-wrapper.card__title-wrapper--03
                h3.card__title.card__title--03 公共工事
              p.card__text 公共工事では、道路や橋梁、公共施設など、地域社会に欠かせないインフラや施設の建設・改修を行います。私たちは、公共の福祉と安全を考慮しながら、厳格な規制や基準に適合した施工を行います。
              a.btn.btn--primary.card__btn.btn--circle(type="button" href="./service/" value="具体的な事例を見る") Read More