@use "../base/base";
@use "../global" as *;
@use "../common/section-title";
@use "../common/contact-section";
@use "../common/lower-fv";
@use "../common/lower-title";

.contact__inner{
  padding-top: 40px;
  @include mq("md"){
    padding-top: 64px;
  }
}

.contact__contents{
  margin-top: 40px;
  @include mq("lg"){
    display: flex;
    column-gap: 40px;
    justify-content: space-between;
    max-width: 960px;
    margin-top: 62px;
  }
}

.bar{
  display: flex;
  column-gap: 22px;
  margin: 0 auto;
  @include mq("md"){
    display: flex;
    column-gap: 52px;
    margin: 0;
  }
}

.bar-item{
  position: relative;
  width: 150px;
  height: 50px;
  padding: 7px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $blue;
  @include mq("md"){
    width: 208px;
    height: 58px;
    padding: 10px 0;
  }
}

.bar-item.is--active{
    border: 1px solid $blue;
    background-color: $blue;
    color: $white;
    & > .bar-item__num{
      color: $white;
    }
    & > .bar-item__text{
      color: $white;
    }
}

.bar-item:not(:first-child){
  &:before{
    content: "";
    display: block;
    width: 22px;
    height: 1px;
    background-color: $blue;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    @include mq("md"){
      width: 52px;
    }
  }
}

.bar-item__num{
  font-size: 1.2rem;
  font-weight: $bold;
  color: $blue;
  text-align: center;
  display: block;
}

.bar-item__text{
  font-size: 1.4rem;
  font-weight: $bold;
  color: $blue;
  text-align: center;
  display: block;
  @include mq("md"){
    font-size: 1.6rem;
  }
}

.contact__contents-sub{
  margin-top: 40px;
  text-align: center;
  @include mq("lg"){
    margin-top: 0;
    text-align: left;
  }
}

.contact__tel-text{
  font-size: 1.6rem;
  font-weight: $bold;
  color: $black;
  display: block;
}

.contact__num{
  font-size: 3.2rem;
  font-weight: $bold;
  color: $black;
  display: block;
  margin-top: 29px;
}

.contact__num-hours{  
  font-size: 1.2rem;
  font-weight: $bold;
  color: $black;
  display: block;
  margin-top: 14px;
}