@use "../base/base";
@use "../global" as *;
@use "../common/section-title";
@use "../common/contact-section";
@use "../common/lower-fv";
@use "../common/lower-title";
@use "./common";


.btn--return{
  margin: 60px auto 0;
  color: $white;
  background-color: $blue;
  width: 284px;
  line-height: 60px;
  display: block;
  &:after{
    background-color: $white;
  }
  &:hover{
    color: $blue;
    background-color: $white;
    &:after{
      background-color: $blue;
    }
  }
  @include mq("md"){
    margin-top: 113px;
  }
}