html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  width: 100%;
}

.body__inner {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .body__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

ol, ul {
  list-style: none;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a,
button {
  text-align: left;
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
}
a:hover,
button:hover {
  cursor: pointer;
}

:root {
  --focus-ring: 3px solid #3b82f6;
}

a[href]:focus-visible,
button:focus-visible,
[role=button]:focus-visible,
[tabindex]:not([tabindex="-1"]):focus-visible {
  outline: var(--focus-ring);
  outline-offset: var(--focus-offset);
  border-radius: 6px;
}

a[href]:focus,
button:focus,
[role=button]:focus,
[tabindex]:not([tabindex="-1"]):focus {
  outline: var(--focus-ring);
  outline-offset: var(--focus-offset);
}

a[href]:focus:not(:focus-visible),
button:focus:not(:focus-visible),
[role=button]:focus:not(:focus-visible),
[tabindex]:not([tabindex="-1"]):focus:not(:focus-visible) {
  outline: none;
}

button:disabled:focus,
[aria-disabled=true]:focus {
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.btn {
  border-radius: 10px;
  height: 60px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn--circle {
  position: relative;
}
.btn--circle:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.btn--primary {
  border: 1px solid #000000;
  color: #000000;
  width: 240px;
  font-weight: 700;
  font-size: 1.6rem;
}
.btn--primary:after {
  background-color: #000000;
}
.btn--primary:hover {
  color: #FFFFFF;
  background-color: #000000;
}
.btn--primary:hover:after {
  background-color: #FFFFFF;
}

.btn--secondary {
  border: 1px solid #4282B8;
  color: #4282B8;
  width: 260px;
  font-weight: 700;
  font-size: 1.6rem;
}
.btn--secondary:after {
  background-color: #4282B8;
}
.btn--secondary:hover {
  color: #FFFFFF;
  background-color: #4282B8;
}
.btn--secondary:hover:after {
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .btn--secondary {
    width: 284px;
  }
}

.contact {
  padding-top: 85px;
}
@media screen and (min-width: 768px) {
  .contact {
    padding-top: 160px;
  }
}

.contact__inner {
  padding: 27px 20px;
  background-color: #F8F8F8;
  position: relative;
  width: 100%;
}
.contact__inner:after {
  content: "";
  display: block;
  width: 15.7333333333%;
  aspect-ratio: 59/86;
  position: absolute;
  background-image: url("/aobotan/img/top/contact/contact.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: -10%;
  right: 8%;
}
@media screen and (min-width: 768px) {
  .contact__inner {
    padding: 32px 24px;
    border-radius: 50px 0 0 50px;
  }
  .contact__inner:after {
    content: "";
    display: block;
    width: 15.0862068966%;
    aspect-ratio: 175/256;
  }
}

.contact__body {
  margin-top: 47px;
}
@media screen and (min-width: 768px) {
  .contact__body {
    margin-top: 39px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.contact__tel-wrapper {
  padding-bottom: 29px;
  border-bottom: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: bottom;
  -ms-flex-align: bottom;
  align-items: bottom;
}
@media screen and (min-width: 768px) {
  .contact__tel-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 32px;
    border-bottom: none;
    padding-bottom: 0;
  }
}

.contact__tel-eng {
  font-size: 3.2rem;
  font-weight: 700;
  display: inline-block;
}

.contact__tel-ja {
  font-size: 1.2rem;
  font-weight: 700;
  display: inline-block;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .contact__tel-ja {
    margin-left: 0;
    margin-top: 10px;
  }
}

.contact__num-wrapper {
  padding: 24px 0 36px 0;
}
@media screen and (min-width: 768px) {
  .contact__num-wrapper {
    padding: 0 32px;
  }
}

.contact__num {
  font-size: 3.2rem;
  font-weight: 700;
  color: #000000;
}

.contact__num-hours {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000000;
  margin-top: 10px;
  display: block;
}

.contact__mail-btn {
  margin: 0 auto;
  width: 284px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.contact__mail-btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("/aobotan/img/common/mail.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .contact__mail-btn {
    margin: 0 0 0 32px;
  }
}

.fv {
  width: 100%;
  position: relative;
  padding-top: 112px;
}
@media screen and (min-width: 768px) {
  .fv {
    padding-top: 40px;
  }
  .fv:before {
    content: "";
    aspect-ratio: 727/583;
    background-color: #4282B8;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: inline-block;
  }
}

.fv__inner {
  position: relative;
  width: calc(100% - 10px);
}
@media screen and (min-width: 768px) {
  .fv__inner {
    width: 96.5517241379%;
    aspect-ratio: 1120/681;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.about-fv__inner {
  background-image: url("/aobotan/img/about/about-fv.jpg");
}

.service-fv__inner {
  background-image: url("/aobotan/img/service/service-fv.jpg");
}

.title {
  position: relative;
  width: 100%;
}
.title:after {
  content: "";
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .title:after {
    width: 14.224137931%;
    aspect-ratio: 165/198;
    top: 0;
    left: 50%;
  }
}

.title__main {
  font-size: 1.4rem;
  font-weight: 700;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .title__main {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 768px) {
  .title__sub {
    font-size: 1.6rem;
    line-height: 1.8;
    font-weight: 400;
    color: #000000;
    margin-top: 64px;
  }
}

.title--about:after {
  background-image: url("/aobotan/img/about/about-img01.png");
}

.title--service:after {
  background-image: url("/aobotan/img/service/service-img01.png");
}

@media screen and (min-width: 768px) {
  .title__btns {
    margin-top: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
  }
}

.title__btn-item {
  position: relative;
}
@media screen and (min-width: 768px) {
  .title__btn-item {
    width: 208px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #4282B8;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 1.6rem;
    padding-top: 11px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
  }
  .title__btn-item:after {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 11px;
    width: 5px;
    height: 5px;
    border-left: 1px solid #4282B8;
    border-bottom: 1px solid #4282B8;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.service__inner {
  padding-top: 64px;
}