html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  width: 100%;
}

.body__inner {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .body__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

ol, ul {
  list-style: none;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a,
button {
  text-align: left;
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
}
a:hover,
button:hover {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.btn {
  border-radius: 10px;
  height: 60px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn--circle {
  position: relative;
}
.btn--circle:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.btn--primary {
  border: 1px solid #000000;
  color: #000000;
  width: 240px;
  font-weight: 700;
  font-size: 1.6rem;
}
.btn--primary:after {
  background-color: #000000;
}
.btn--primary:hover {
  color: #FFFFFF;
  background-color: #000000;
}
.btn--primary:hover:after {
  background-color: #FFFFFF;
}

.btn--secondary {
  border: 1px solid #4282B8;
  color: #4282B8;
  width: 260px;
  font-weight: 700;
  font-size: 1.6rem;
}
.btn--secondary:after {
  background-color: #4282B8;
}
.btn--secondary:hover {
  color: #FFFFFF;
  background-color: #4282B8;
}
.btn--secondary:hover:after {
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .btn--secondary {
    width: 284px;
  }
}

.contact {
  padding-top: 85px;
}
@media screen and (min-width: 768px) {
  .contact {
    padding-top: 160px;
  }
}

.contact__inner {
  padding: 27px 20px;
  background-color: #F8F8F8;
  position: relative;
  width: 100%;
}
.contact__inner:after {
  content: "";
  display: block;
  width: 15.7333333333%;
  aspect-ratio: 59/86;
  position: absolute;
  background-image: url("/aobotan/img/top/contact/contact.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: -10%;
  right: 8%;
}
@media screen and (min-width: 768px) {
  .contact__inner {
    padding: 32px 24px;
    border-radius: 50px 0 0 50px;
  }
  .contact__inner:after {
    content: "";
    display: block;
    width: 15.0862068966%;
    aspect-ratio: 175/256;
  }
}

.contact__body {
  margin-top: 47px;
}
@media screen and (min-width: 768px) {
  .contact__body {
    margin-top: 39px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.contact__tel-wrapper {
  padding-bottom: 29px;
  border-bottom: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: bottom;
  -ms-flex-align: bottom;
  align-items: bottom;
}
@media screen and (min-width: 768px) {
  .contact__tel-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 32px;
    border-bottom: none;
    padding-bottom: 0;
  }
}

.contact__tel-eng {
  font-size: 3.2rem;
  font-weight: 700;
  display: inline-block;
}

.contact__tel-ja {
  font-size: 1.2rem;
  font-weight: 700;
  display: inline-block;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .contact__tel-ja {
    margin-left: 0;
    margin-top: 10px;
  }
}

.contact__num-wrapper {
  padding: 24px 0 36px 0;
}
@media screen and (min-width: 768px) {
  .contact__num-wrapper {
    padding: 0 32px;
  }
}

.contact__num {
  font-size: 3.2rem;
  font-weight: 700;
  color: #000000;
}

.contact__num-hours {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000000;
  margin-top: 10px;
  display: block;
}

.contact__mail-btn {
  margin: 0 auto;
  width: 284px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.contact__mail-btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("/aobotan/img/common/mail.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .contact__mail-btn {
    margin: 0 0 0 32px;
  }
}