html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  width: 100%;
}

.body__inner {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .body__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

ol,
ul {
  list-style: none;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a,
button,
input {
  text-align: left;
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
a:hover,
button:hover,
input:hover {
  cursor: pointer;
}

:root {
  --focus-ring: 2px solid #3b82f6;
}

a[href]:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible,
[role=button]:focus-visible,
[tabindex]:not([tabindex="-1"]):focus-visible {
  outline: var(--focus-ring);
  outline-offset: var(--focus-offset);
  border-radius: 6px;
}

a[href]:focus,
button:focus,
input:focus,
textarea:focus,
select:focus,
[role=button]:focus,
[tabindex]:not([tabindex="-1"]):focus {
  outline: var(--focus-ring);
  outline-offset: var(--focus-offset);
}

a[href]:focus:not(:focus-visible),
button:focus:not(:focus-visible),
input:focus:not(:focus-visible),
textarea:focus:not(:focus-visible),
select:focus:not(:focus-visible),
[role=button]:focus:not(:focus-visible),
[tabindex]:not([tabindex="-1"]):focus:not(:focus-visible) {
  outline: none;
}

button:disabled:focus,
input:disabled:focus,
textarea:disabled:focus,
select:disabled:focus,
[aria-disabled=true]:focus {
  outline: none;
}

img {
  width: 100%;
  height: auto;
}

.section-title__ja {
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .section-title__ja {
    font-size: 2.4rem;
  }
}

.section-title__en {
  width: 242px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .section-title__en {
    width: 429px;
    margin-top: 40px;
  }
}

.section-title-sub {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8;
  color: #000000;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .section-title-sub {
    font-size: 1.6rem;
  }
}

.title--about {
  width: 242px;
}
@media screen and (min-width: 768px) {
  .title--about {
    width: 339px;
  }
}
@media screen and (min-width: 1024px) {
  .title--about {
    width: 429px;
  }
}

.title--service {
  width: 277px;
}
@media screen and (min-width: 768px) {
  .title--service {
    width: 401px;
  }
}
@media screen and (min-width: 1024px) {
  .title--service {
    width: 491px;
  }
}

.title--news {
  width: 192px;
}
@media screen and (min-width: 768px) {
  .title--news {
    width: 250px;
  }
}
@media screen and (min-width: 1024px) {
  .title--news {
    width: 340px;
  }
}

.title--contact {
  width: 311px;
}
@media screen and (min-width: 768px) {
  .title--contact {
    width: 463px;
  }
}
@media screen and (min-width: 1024px) {
  .title--contact {
    width: 553px;
  }
}

.btn {
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn--circle {
  position: relative;
}
.btn--circle:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.btn--primary {
  border: 1px solid #000000;
  color: #000000;
  width: 240px;
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
}
.btn--primary:after {
  background-color: #000000;
}
@media (hover: hover) {
  .btn--primary:hover {
    color: #FFFFFF;
    background-color: #000000;
  }
  .btn--primary:hover:after {
    background-color: #FFFFFF;
  }
}

.btn--secondary {
  border: 1px solid #4282B8;
  color: #4282B8;
  width: 260px;
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  height: 60px;
}
.btn--secondary:after {
  background-color: #4282B8;
}
@media (hover: hover) {
  .btn--secondary:hover {
    color: #FFFFFF;
    background-color: #4282B8;
  }
  .btn--secondary:hover:after {
    background-color: #FFFFFF;
  }
}
@media screen and (min-width: 768px) {
  .btn--secondary {
    width: 284px;
  }
}

.contact-common {
  padding-top: 85px;
}
@media screen and (min-width: 768px) {
  .contact-common {
    padding-top: 160px;
  }
}

.contact-common__inner {
  padding: 27px 20px;
  background-color: #F8F8F8;
  position: relative;
  width: 100%;
}
.contact-common__inner:after {
  content: "";
  display: block;
  width: 15.7333333333%;
  aspect-ratio: 59/86;
  position: absolute;
  background-image: url("/aobotan/img/top/contact/contact.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: -10%;
  right: 8%;
}
@media screen and (min-width: 768px) {
  .contact-common__inner {
    padding: 32px 24px;
    border-radius: 50px 0 0 50px;
  }
  .contact-common__inner:after {
    content: "";
    display: block;
    width: 15.0862068966%;
    aspect-ratio: 175/256;
  }
}

.contact-common__body {
  margin-top: 47px;
}
@media screen and (min-width: 1024px) {
  .contact-common__body {
    margin-top: 39px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.contact-common__tel-wrapper {
  padding-bottom: 29px;
  border-bottom: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
@media screen and (min-width: 1024px) {
  .contact-common__tel-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 32px;
    border-bottom: none;
    padding-bottom: 0;
  }
}

.contact-common__tel-eng {
  font-size: 3.2rem;
  font-weight: 700;
  display: inline-block;
}

.contact-common__tel-ja {
  font-size: 1.2rem;
  font-weight: 700;
  display: inline-block;
  margin-left: 16px;
}
@media screen and (min-width: 1024px) {
  .contact-common__tel-ja {
    margin-left: 0;
    margin-top: 10px;
  }
}

.contact-common__num-wrapper {
  padding: 24px 0 36px 0;
}
@media screen and (min-width: 1024px) {
  .contact-common__num-wrapper {
    padding: 0 32px;
  }
}

.contact-common__num {
  font-size: 3.2rem;
  font-weight: 700;
  color: #000000;
}

.contact-common__num-hours {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000000;
  margin-top: 10px;
  display: block;
}

.contact-common__mail-btn {
  margin: 0 auto;
  width: 284px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.contact-common__mail-btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("/aobotan/img/common/mail.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 1024px) {
  .contact-common__mail-btn {
    margin: 0 0 0 32px;
  }
}

.fv {
  width: 100%;
  position: relative;
  padding-top: 112px;
}
@media screen and (min-width: 768px) {
  .fv {
    padding-top: 3.4482758621%;
  }
  .fv:before {
    content: "";
    width: 62.6724137931%;
    aspect-ratio: 727/583;
    background-color: #4282B8;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: inline-block;
  }
}

.fv__inner {
  position: relative;
  width: calc(100% - 10px);
}
@media screen and (min-width: 768px) {
  .fv__inner {
    width: 96.5517241379%;
    aspect-ratio: 1120/681;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.about-fv__inner {
  background-image: url("/aobotan/img/about/about-fv.jpg");
}

.service-fv__inner {
  background-image: url("/aobotan/img/service/service-fv.jpg");
}

.contact-fv__inner {
  background-image: url("/aobotan/img/contact/contact-fv.jpg");
}

.lower-title {
  position: relative;
  width: 100%;
}
.lower-title:after {
  content: "";
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .lower-title:after {
    width: 14.224137931%;
    aspect-ratio: 165/198;
    top: 0;
    left: 50%;
  }
}

.lower-title__main {
  font-size: 2.4rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .lower-title__main {
    text-align: left;
  }
}

.lower-title__sub {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
  color: #000000;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .lower-title__sub {
    margin-top: 64px;
    max-width: 422px;
  }
}

.title--about:after {
  background-image: url("/aobotan/img/about/about-img01.png");
}

.title--service:after {
  background-image: url("/aobotan/img/service/service-img01.png");
}

.title--contact:after {
  background-image: url("/aobotan/img/contact/contact-img01.png");
}

.title__btns {
  display: none;
}
@media screen and (min-width: 768px) {
  .title__btns {
    margin-top: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
  }
}

.title__btn-item {
  position: relative;
}
@media screen and (min-width: 768px) {
  .title__btn-item {
    width: 208px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #4282B8;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .title__btn-item:hover {
    background-color: #4282B8;
  }
  .title__btn-item:hover:after {
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
  }
  .title__btn-item:after {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 11px;
    width: 6px;
    height: 6px;
    border-left: 1px solid #4282B8;
    border-bottom: 1px solid #4282B8;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.title__btn {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 11px;
}

.title__btn-item:hover > .title__btn {
  color: #FFFFFF;
  background-color: #4282B8;
}

.about__inner {
  width: 100%;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .about__inner {
    padding-top: 64px;
  }
}

.about__section-title {
  margin-top: 50px;
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about__section-title {
    font-size: 3.2rem;
    margin-top: 80px;
    text-align: left;
  }
}

.section01-body {
  margin-top: 30px;
  aspect-ratio: 923/519;
}
@media screen and (min-width: 768px) {
  .section01-body {
    width: 100%;
    margin-top: 64px;
  }
}

.section02__wrapper {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .section02__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 64px;
    max-width: 953px;
  }
}

@media screen and (min-width: 768px) {
  .section02__body {
    width: 50.8919202518%;
  }
}

.section02__body-text {
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
  color: #000000;
}

.section02__thumb {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .section02__thumb {
    width: 34.7324239244%;
  }
}

.section02__thumb-img-wrapper {
  width: 100%;
  aspect-ratio: 331/425;
}

.section02__role {
  color: #000000;
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 16px;
  display: inline-block;
}

.section02__name {
  color: #4282B8;
  font-weight: 700;
  font-size: 2.6rem;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .section02__name {
    color: #4282B8;
    font-weight: 700;
    font-size: 3.2rem;
    margin-top: 24px;
  }
}

.section02__table {
  margin-top: 40px;
  width: 100%;
  border-collapse: collapse;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .section02__table {
    max-width: 953px;
    margin-top: 82px;
  }
}

.section02__table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom: 1px solid #4282B8;
  row-gap: 8px;
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .section02__table-row {
    padding: 30px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.section02__table-label {
  font-weight: 700;
  color: #000000;
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  .section02__table-label {
    width: 25%;
  }
}

.section02__table-value {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 1.6rem;
  line-height: 1.5;
}

.sectoin03__cards {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .sectoin03__cards {
    margin-top: 88px;
    max-width: 953px;
  }
}

.section02__card:not(:first-child) {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .section02__card:not(:first-child) {
    margin-top: 30px;
  }
}

.card__title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .card__title {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .card__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 31px;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
}

.card__body {
  margin-top: 30px;
  font-size: 1.6rem;
  line-height: 1.8;
  font-weight: 400;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .card__body {
    width: 100%;
    margin: 30px auto 0;
  }
}
@media screen and (min-width: 1024px) {
  .card__body {
    width: 67.3662119622%;
    margin: 0;
  }
}

.card__img-wrapper {
  width: 100%;
  aspect-ratio: 331/250;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .card__img-wrapper {
    width: 70%;
    margin: 30px auto 0;
  }
}
@media screen and (min-width: 1024px) {
  .card__img-wrapper {
    width: 34.7324239244%;
    margin-top: 0;
  }
}

.card__img-wrapper > img {
  -o-object-fit: cover;
  object-fit: cover;
}