section.contact
  .contact__inner
    h2.section-title.inner
      p.section-title__ja お問い合わせ
      .section-title__en.title--contact
        img(src="/aobotan/img/top/contact/contact-title-eng.svg" alt="contact")
    .contact__body.inner
      .contact__tel-wrapper
        span.contact__tel-eng Tel
        span.contact__tel-ja お電話
      .contact__num-wrapper
        span.contact__num 0000-000-0000
        span.contact__num-hours 営業時間 10:00-20:00
      a.contact__mail-btn.btn.btn--primary.btn--circle(aria-label="メールフォームはこちら" href="/contact/") メールフォームはこちら