.footer
  .footer__inner
    .footer__container
      .footer__company-infos
        .footer__logo
          img.footer__logo-img(src='/aobotan/img/common/title-logo.svg' alt='会社のロゴ')
        .footer__info
          ul.footer__info-items
            li.footer__info-item
              span.footer__info-tel 〒000-0000
            li.footer__info-item
              span.footer__info-address 大阪府大阪市中央区北区南町5-6-7
            li.footer__info-item
              span.footer__info-hours 営業時間&nbsp;10:00-20:00
            li.footer__info-item
              span.footer__info-rest 定休日&nbsp;日曜日、祝日、年末年始（12月31日から1月3日まで）
      nav.footer-nav
        ul.footer-nav__items
          li.footer-nav__item
            a.footer-nav__link(href="/") トップページ
          li.footer-nav__item
            a.footer-nav__link(href="/about/") 私たちについて
          li.footer-nav__item
            a.footer-nav__link(href="/service/") 経営理念
          li.footer-nav__item
            a.footer-nav__link(href="/news/") 会社概要
          li.footer-nav__item
            a.footer-nav__link(href="/contact/") 安全への取り組み
          li.footer-nav__item
            a.footer-nav__link(href="/business/") 事業内容
          li.footer-nav__item
            a.footer-nav__link(href="/business/housing/") 住宅建築・リフォーム
          li.footer-nav__item
            a.footer-nav__link(href="/business/corporate/") 法人新築・リフォーム
          li.footer-nav__item
            a.footer-nav__link(href="/business/public/") 公共工事
          li.footer-nav__item
            a.footer-nav__link(href="/news/") お知らせ
          li.footer-nav__item
            a.footer-nav__link.footer-nav__link--contact(href="/contact/") お問い合わせ
    p.footer__copy &copy;Aobotan&nbsp;all&nbsp;rights&nbsp;reserved
