.footer
  .footer__inner.inner--width1120
    .footer__container
      .footer__company-infos
        .footer__logo
          if page === "top"
            h1.footer__logo-title
              a.footer__logo-link(href="/" aria-label="トップページへ戻る")
                img.footer__logo-img(src='/aobotan/img/common/title-logo.svg' alt='会社のロゴ')
          else
            a.footer__logo-link(href="../" aria-label="トップページへ戻る")
              img.footer__logo-img(src='/aobotan/img/common/title-logo.svg' alt='会社のロゴ')
        .footer__info
          ul.footer__info-items
            li.footer__info-item
              span.footer__info-tel 〒000-0000
            li.footer__info-item
              span.footer__info-address 大阪府大阪市中央区北区南町5-6-7
            li.footer__info-item
              span.footer__info-hours 営業時間&nbsp;10:00-20:00
            li.footer__info-item
              span.footer__info-rest 定休日&nbsp;日曜日、祝日、年末年始（12月31日から1月3日まで）
      nav.footer-nav
        ul.footer-nav__items
          li.footer-nav__item
            a.footer-nav__link(href="#top" data-href="#top") トップページ
          li.footer-nav__item
            a.footer-nav__link(href="#about" data-href="#about") 私たちについて
          li.footer-nav__item
            a.footer-nav__link(href="#philosophy" data-href="#about") 経営理念
          li.footer-nav__item
            a.footer-nav__link(href="#company" data-href="#about") 会社概要
          li.footer-nav__item
            a.footer-nav__link(href="#safety" data-href="#about") 安全への取り組み
          li.footer-nav__item
            a.footer-nav__link(href="#service" data-href="#service") 事業内容
          li.footer-nav__item
            a.footer-nav__link(href="#residential" data-href="#service") 住宅建築・リフォーム
          li.footer-nav__item
            a.footer-nav__link(href="#corporate" data-href="#service") 法人新築・リフォーム
          li.footer-nav__item
            a.footer-nav__link(href="#public" data-href="#service") 公共工事
          li.footer-nav__item
            a.footer-nav__link(href="#news" data-href="#news") お知らせ
          li.footer-nav__item
            a.footer-nav__link.footer-nav__link--contact(href="#contact" data-href="#contact") お問い合わせ
    p.footer__copy &copy;Aobotan&nbsp;all&nbsp;rights&nbsp;reserved
