block var

doctype
html(lang="ja")
  head
    meta(name="robots" content="noindex,nofollow")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0 viewport-fit=cover")
    meta(name="format-detection" content="telephone=no")
    // meta情報
    title Aobotan
    meta(name="description" content="大阪府大阪市に拠点をおく青牡丹工務店は、丁寧な家造りで理想を現実にします。住宅建築からリフォームまで、高品質なサービスと経験豊富なスタッフがお客様のニーズに応えます。お気軽にご相談ください。")
    meta(name="keywords" content="青牡丹工務店, 住宅建築, リフォーム, 高品質なサービス, 経験豊富なスタッフ, お気軽にご相談ください")
    // ogp
    meta(property="og:title" content="Aobotan")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://xs313226.xsrv.jp/aobotan/")
    meta(property="og:image" content="http://xs313226.xsrv.jp/aobotan/img/favicon/favicon-aobotan.svg")
    meta(property="og:site_name" content="Aobotan")
    meta(property="og:description" content="大阪府大阪市に拠点をおく青牡丹工務店は、丁寧な家造りで理想を現実にします。住宅建築からリフォームまで、高品質なサービスと経験豊富なスタッフがお客様のニーズに応えます。お気軽にご相談ください。")
    meta(name="twitter:card" content="summary")
    // ファビコン
    link(rel="icon" href="/aobotan/img/favicon/favicon-aobotan.svg")
    link(rel="apple-touch-icon" href="/aobotan/img/favicon/favicon-aobotan.svg" sizes="48*48")
    // Google Fonts
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&family=Zen+Kaku+Gothic+New&display=swap', rel='stylesheet')
    block css
      link(rel='stylesheet', href="/aobotan/css/common/reset.css" type="text/css")
      link(rel='stylesheet', href="/aobotan/css/common/style.css" type="text/css")
    block js
      script(src='/aobotan/js/common/script.js' defer)
  body
    .body__inner
      include ./_header.pug
      block main




