@use "../base/base";
@use "../global" as *;
@use "../common/contact-section";
@use "../common/section-title";
@use "../common/btn";

/* =========================================================
= mv =
========================================================= */
.mv {
  width: 100%;
  position: relative;
  padding-top: 112px;
  @include mq("md") {
    padding-top: calc(40 / 1160 * 100%);
    &:before {
      content: "";
      width: calc(727 / 1160 * 100%);
      aspect-ratio: 1 / 1;
      background-color: $blue;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      display: inline-block;
    }
  }
}

.mv__inner {
  position: relative;
  background-color: $white2;
  width: calc(100% - 10px);
  border-radius: 10px 0 0 10px;
  aspect-ratio: 365 / 589;
  @include mq("md") {
    width: calc(1120 / 1160 * 100%);
    aspect-ratio: 1120 / 873;
    border-radius: 50px;
  }
}


.mv__img-wrapper {
  display: none;
  position: absolute;
}

.mv__img01 {
  width: calc(110 / 365 * 100%);
  top: calc(231 / 589 * 100%);
  left: calc(18 / 365 * 100%);
  @include mq("md") {
    width: calc(314 / 1120 * 100%);
    top: calc(406 / 873 * 100%);
    left: calc(87 / 1120 * 100%);
  }
}
.mv__img02 {
  width: calc(82 / 365 * 100%);
  top: calc(235 / 589 * 100%);
  left: 50%;
  transform: translateX(-50%);
  @include mq("md") {
    width: calc(208 / 1120 * 100%);
    top: calc(319 / 873 * 100%);
    left: 50%;
    transform: translateX(-50%);
  }
}
.mv__img03 {
  width: calc(88 / 365 * 100%);
  top: calc(271 / 589 * 100%);
  right: calc(12 / 365 * 100%);
  @include mq("md") {
    width: calc(182 / 1120 * 100%);
    top: calc(390 / 873 * 100%);
    right: calc(56 / 1120 * 100%);
  }
}
.mv__img04 {
  width: calc(134 / 365 * 100%);
  top: calc(31 / 589 * 100%);
  right: calc(12 / 365 * 100%);
  @include mq("md") {
    width: calc(258 / 1120 * 100%);
    top: calc(64 / 873 * 100%);
    right: calc(55 / 1120 * 100%);
  }
}
.mv__img05 {
  width: calc(103 / 365 * 100%);
  top: calc(10 / 589 * 100%);
  left: calc(16 / 365 * 100%);
  @include mq("md") {
    width: calc(195 / 1120 * 100%);
    top: calc(65 / 873 * 100%);
    left: calc(71 / 1120 * 100%);
  }
}

.mv__title {
  position: absolute;
  top: calc(408 / 589 * 100%);
  left: calc(18 / 365 * 100%);
  display: none;
  @include mq("md") {
    top: calc(647 / 873 * 100%);
    left: calc(467 / 1120 * 100%);
  }
}

.mv__title-main {
  font-size: 2.4rem;
  font-weight: $bold;
  color: $black;
  display: inline-block;
  padding: 14px;
  background-color: $white;
  @include mq("md") {
    font-size: clamp(3.2rem, 4vw, 6.4rem);
  }
}

.mv__title-sub {
  line-height: 2;
  font-weight: $bold;
  font-size: 1.2rem;
  margin-top: 21px;
  @include mq("md") {
    font-size: clamp(1.2rem, 1vw, 1.6rem);
    margin-top: clamp(10px, 2vw, 35px);
  }
}

.mv__scroll-down {
  position: absolute;
  bottom: calc(24 / 589 * 100%);
  left: calc(18 / 365 * 100%);
  @include mq("md") {
    bottom: calc(64 / 873 * 100%);
    left: calc(18 / 1120 * 100%);
  }
}

.mv__scroll-down-text {
  color: $blue;
  font-size: 1rem;
  font-weight: $bold;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 0;
    background-color: $blue;
    animation: scrollLine 1.8s ease-in-out infinite;
  }
  @include mq("md") {
    &:after {
      width: 2px;
      height: 0;
      animation: scrollLinePc 1.8s ease-in-out infinite;
    }
  }
}

@keyframes scrollLine {
  0% {
    height: 0;
    top: 110%;
    opacity: 0;
  }
  100% {
    height: 52px;
    opacity: 1;
  }
}

@keyframes scrollLinePc {
  0% {
    height: 0;
    top: 110%;
    opacity: 0;
  }
  100% {
    height: 112px;
    opacity: 1;
  }
}

/* =========================================================
= about =
========================================================= */

.about {
  width: 100%;
  overflow: hidden;
}

.about__inner {
  padding-top: 73px;
  @include mq("md") {
    padding-top: 76px;
  }
}

.about__swiper-container {
  position: relative;
}

.about__swiper {
  padding: 16px 0 16px 58px !important;
  background-color: $white2 !important;
  @include mq("md") {
    padding: 63px 0 63px 48px !important;
  }
}

.swiper-slide {
  max-width: 200px !important;
  aspect-ratio: 1 / 1 !important;
  @include mq("md") {
    max-width: 280px !important;
    aspect-ratio: 1 / 1 !important;
  }
  @include mq("lg"){
    max-width: 360px !important;
    aspect-ratio: 1 / 1 !important;
  }
}

.swiper-slide > img {
  object-fit: cover !important;
  width: 100% !important;
  height: 100% !important;
}

.about__swiper-text {
  padding-top: 16px;
  font-size: 2.4rem;
  line-height: 1.5;
  letter-spacing: 0.5em;
  font-weight: $bold;
  writing-mode: vertical-rl;
  text-orientation: upright;
  background-color: $white2;
  position: absolute;
  top: calc(116 / 284 * 100%);
  right: calc(27 / 375 * 100%);
  height: 284px;
  width: 112px;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include mq("md") {
    font-size: 3rem;
    padding-top: 16px;
    top: calc(254 / 486 * 100%);
    right: 10%;
    width: 110px;
    height: 350px;
  }
  @include mq("lg"){
    font-size: 4rem;
    padding-top: 16px;
    top: calc(254 / 486 * 100%);
    right: calc(182 / 1160 * 100%);
    width: 172px;
    height: 452px;
  }
}

.about__swiper-text--blue {
  color: $blue;
}

.about__swiper-sub {
  position: absolute;
  top: 258px;
  right: 148px;
  z-index: 10;
  width: 60px;
  @include mq("md") {
    top: 330px;
    right: 240px;
    width: 110px;
  }
  @include mq("lg"){
    top: 452px;
    right: 374px;
    // width: 161px;
    width: calc(161 / 1160 * 100%);
  }
}


.about__body-inner {
  padding-top: 183px;
  max-width: 100%;
  @include mq("md") {
    width: 429px;
    padding-top: 71px;
  }
}

.about__btn {
  margin-top: 32px;
  @include mq("md") {
    margin-top: 40px;
  }
}

/* =========================================================
= service =
========================================================= */

.service {
  padding-top: 78px;
  @include mq("md") {
    padding-top: 85px;
  }
}

.service__inner {
  position: relative;
  padding-top: 27px;
  padding-bottom: 42px;
  &::after {
    content: "";
    position: absolute;
    background-color: $white2;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
  }
  &:before {
    content: "";
    position: absolute;
    background-image: url("/aobotan/img/top/service/service.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: -2%;
    right: 8%;
    aspect-ratio: 69 / 96;
    display: block;
    width: calc(69 / 375 * 100%);
  }
  @include mq("md") {
    padding-top: 49px;
    padding-bottom: 100px;
    padding-right: 20px;
    &:after {
      right: 0;
      left: auto;
      border-radius: 50px 0 0 50px;
      width: calc(968 / 1160 * 100%);
    }
    &:before {
      width: calc(124 / 1160 * 100%);
      aspect-ratio: 124 / 172;
    }
  }
}

.service__cards {
  width: 100%;
}

.service__card {
  margin-top: 24px;
  @include mq("md") {
    margin-top: 64px;
  }
}

.card__inner {
  width: 100%;
  @include mq("lg"){
   display: flex;
  }
}

.card__inner--reverse {
  @include mq("lg") {
    flex-direction: row-reverse;
  }
}

.card__img-wrapper {
  width: 100%;
  aspect-ratio: 516 / 464;
  position: relative;
  &:after {
    @include mq("md") {
      content: "";
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      z-index: -1;
      top: 3%;
      width: calc(110 / 516 * 100%);
      aspect-ratio: 174 / 168;
      bottom: auto;
    }
    @include mq("lg"){
      width: calc(174 / 516 * 100%);
    }
  }
  @include mq("md") {
    aspect-ratio: 516 / 464;
    max-width: 516px;
  }
}

.card__img-wrapper--01 {
  @include mq("md"){
    &:after{
      right: 0;
      top: 100%;
      z-index: 1;
    }
  }
  @include mq("lg") {
    &:after {
      right: -30%;
      top: 3%;
      left: auto;
      z-index: -1;
    }
  }
  &:after {
    background-image: url("/aobotan/img/top/service/num01.svg");
  }
}

.card__img-wrapper--02 {
  @include mq("md"){
    &:after{
      right: 0;
      top: 100%;
      z-index: 1;
    }
  }
  @include mq("lg") {
    &:after {
      left: -30%;
      right: auto;
      top: 3%;
      z-index: -1;
    }
  }
  &:after {
    background-image: url("/aobotan/img/top/service/num02.svg");
  }
}

.card__img-wrapper--03 {
  @include mq("md"){
    &:after{
      right: 0;
      top: 100%;
      z-index: 10;
    }
  }
  @include mq("lg") {
    &:after {
      right: -30%;
      left: auto;
      top: 3%;
      z-index: -1;
    }
  }
  &:after {
    background-image: url("/aobotan/img/top/service/num03.svg");
  }
}

.card__body {
  margin-top: 34px;
  width: 100%;
  @include mq("lg") {
    margin-top: 0;
    width: calc(100% - 516px);
    padding-left: 56px;
    width: 50%;
    padding-top: 178px;
  }
}

.card__inner--reverse > .card__body {
  @include mq("md") {
    padding-left: 0;
    padding-right: 56px;
  }
}

.card__num-img-wrapper {
  display: inline-block;
  position: relative;
  z-index: -1;
  @include mq("md") {
    width: 174px;
    display: block;
    margin-left: -18%;
    margin-top: 20px;
  }
}

.card__inner--reverse > .card__body > .card__num-img-wrapper {
  @include mq("md") {
    margin-left: auto;
    margin-right: -15%;
  }
}

.card__title {
  font-size: 2.4rem;
  font-weight: $bold;
  padding: 10px 16px;
  background-color: $white;
  white-space: nowrap;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 58px;
    aspect-ratio: 58 / 48;
    @include mq("md") {
      content: none;
    }
  }
  @include mq("md") {
    margin-top: 20px;
  }
}

.card__title--01 {
  &:after {
    background-image: url("/aobotan/img/top/service/num01.svg");
  }
}

.card__title--02 {
  &:after {
    background-image: url("/aobotan/img/top/service/num02.svg");
  }
}

.card__title--03 {
  &:after {
    background-image: url("/aobotan/img/top/service/num03.svg");
  }
}

.card__text {
  font-size: 1.6rem;
  font-weight: $normal;
  line-height: 1.8;
  margin-top: 16px;
  margin-top: 26px;
  @include mq("md") {
    margin-top: 48px;
  }
}

.card__btn {
  margin-top: 28px;
}

/* =========================================================
= news =
========================================================= */

.news__inner {
  padding-top: 85px;
  @include mq("md") {
    padding-top: 107px;
    padding-right: 40px;
  }
}

.news__items {
  margin-top: 48px;
}

.news__item {
  border-bottom: 1px solid $blue;
  padding: 16px 0;
  position: relative;
  padding-right: 30px;
  @include mq("md") {
    padding: 32px 0;
  }
  &:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-left: 2px solid $blue;
    border-bottom: 2px solid $blue;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%) rotate(-135deg);
    @include mq("md") {
      right: 2%;
    }
  }
}

.news__item:first-child {
  border-top: 1px solid $blue;
}

.item__tag {
  display: inline-block;
  border: 1px solid $blue;
  color: $blue;
  font-weight: $normal;
  font-size: 1.4rem;
  padding: 5px 16px;
}

.item__date {
  font-size: 1.4rem;
  font-weight: $normal;
  color: $blue;
  margin-left: 16px;
}

.item__title {
  font-size: 1.6rem;
  color: $black;
  font-weight: $bold;
  margin-top: 24px;
  display: block;
  transition: all 0.3s ease;
  line-height: 1.5;
  &:hover {
    opacity: 0.5;
  }
}

// モーダル

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.is-active {
    display: block;
    opacity: 1;
  }
}

.modal__inner {
  position: absolute;
  width: calc(100% - 32px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 16px;
  padding-right: 16px;
  @include mq("md") {
    padding-left: 30px;
    padding-right: 30px;
    width: 80%;
  }
  @include mq("lg") {
    padding-left: clamp(30px, calc(102 / 1440 * 100%), 102px);
    padding-right: clamp(30px, calc(102 / 1440 * 100%), 102px);
    width: calc(860 / 1440 * 100%);
  }
}

.modal__close-btn {
  position: absolute;
  top: -45px;
  right: 0;
  width: 45px;
  height: 45px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
  @include mq("lg") {
    top: 0;
    right: -45px;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 3px;
    background-color: $white;
    transform-origin: center;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.modal__title {
  font-size: 1.4rem;
  font-weight: $bold;
  color: $black;
  line-height: 1.5;
  margin-top: 10px;
  @include mq("md") {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.8;
    font-weight: $bold;
    color: $black;
  }
}

.modal__img-wrapper {
  width: 100%;
  aspect-ratio: 656 / 366;
  margin-top: 12px;
  @include mq("md") {
    margin-top: 16px;
  }
}

.modal__text-wrapper {
  overflow-y: scroll;
  height: 78px;
  margin-top: 15px;
  @include mq("md") {
    margin-top: 35px;
    height: 87px;
  }
}

.modal__text {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: $normal;
  @include mq("md") {
    font-size: 1.6rem;
    line-height: 1.8;
    font-weight: $normal;
  }
}

.modal__btn {
  display: block;
  width: 150px;
  height: 40px;
  font-size: 1.2rem;
  margin: 20px auto 0;
  line-height: 40px;
  @include mq("md") {
    margin: 61px auto 0;
    width: 240px;
    height: 60px;
    font-size: 1.6rem;
  }
}
