extends ../common/_layout.pug

block append css
  link(rel='stylesheet', href="/aobotan/css/about/style.css")
block append js 
  script(src='https://code.jquery.com/jquery-3.3.1.js')
  script(src="/suit-site/js/common/script.js" defer)
  script(src="/suit-site/js/about/script.js" defer)

block var
  - var page = 'about'

block main
    main.main
      .fv.about-fv
        .fv__inner.about-fv__inner
      .about
        .about__inner.inner
          section.title
            h2.title__main 私たちについて
            p.title__sub 「丁寧な家造りで、理想を現実に」
              br
              | これを実現するために、わたしたちが行っていることを
              br
              | 一部ご紹介します。
            ul.title__btns
              li.title__btn-item
                button.title__btn("") 経営理念
              li.title__btn-item
                button.title__btn("") 会社概要
              li.title__btn-item
                button.title__btn("") 安全への取り組み
          section.section01
            h3.about__section-title 経営理念
            .section01-body
              img.section01-img(src="/aobotan/img/about/about-img02.png" alt="")
            h3.about__section-title 会社概要
          section.section02
            .section02__wrapper
              .section02__body
                p.section02__body-text 青牡丹工務店は、1965年に創業しました。当初は小さな地域の工務店として始まりましたが、顧客志向の高いサービスと品質へのこだわりが徐々に評判を高め、地域の信頼を得ることとなりました。
                  br
                  | 創業以来、私たちの経営理念は変わることなく、品質第一と顧客満足を常に追求することを掲げています。私たちは、建物を単なる建築物としてではなく、人々の生活や夢の実現の場として捉え、お客様の要望に応えるために最善の努力を惜しまず取り組んできました。
                  br
                  | その結果、地域社会だけでなく、広く多くのお客様からの信頼を得て、業績を着実に拡大させてまいりました。途中で直面した困難や挑戦もありましたが、常に創造性と革新を重視し、チーム全体で協力し合いながら、克服してまいりました。
                  br
                  | 私たちの理念は、常に社会に貢献し、持続可能な未来を築くことにあります。地域社会や環境への配慮を大切にし、誠実な姿勢で仕事に取り組むことで、より良い社会を築いていくことを目指しています。
                  br
                  | 今後も、お客様の声に耳を傾けながら、さらなる成長と発展を目指し、青牡丹工務店は邁進してまいります。
              .section02__thumb
                section02__thumb-img-wrapper
                  img.section02__thumb-img(src="/aobotan/img/about/about-img03.jpg" alt="代表取締役が腕を組んで微笑んでいる様子")
                span.section02__role 代表取締役
                p.section02__name 谷垣 周平
            table.section02__table
              tbody
                tr.section02__table-row
                  td.section02__table-label 商号
                  td.section02__table-value 株式会社 青牡丹工務店
                tr.section02__table-row
                  td.section02__table-label 創業
                  td.section02__table-value 昭和40年5月3日
                tr.section02__table-row
                  td.section02__table-label 資本金
                  td.section02__table-value 2000万円
                tr.section02__table-row
                  td.section02__table-label 従業員数
                  td.section02__table-value 24人
                tr.section02__table-row
                  td.section02__table-label 営業種目
                  td.section02__table-value 総合建設設計施工・不動産業・倉庫業・リフォーム工事
                tr.section02__table-row
                  td.section02__table-label 本社所在地
                  td.section02__table-value 〒000-0000 大阪府大阪市中央区北区南町5-6-7
                tr.section02__table-row
                  td.section02__table-label 代表取締役
                  td.section02__table-value 谷垣周平
          section.section03
            h3.about__section-title 安全への取り組み
            ul.sectoin03__cards
              li.section02__card.card
                .card__title 経営層による安全衛生巡視
                .card__inner
                  .card__body 経営層による安全衛生巡視は、当社の安全管理体制の中核を担う活動の一つです。この巡視では、経営者や上級管理職が定期的に現場を訪問し、安全な作業環境の確保や安全基準の遵守を徹底することが主な目的です。
                    br
                    | 具体的には、巡視の際には安全規則や法令の遵守状況を点検し、作業現場における危険な箇所や潜在的なリスクを特定します。また、機械や設備の安全装置が正しく機能しているかどうかも確認します。さらに、作業員に対して安全教育や指導を行い、安全意識の向上を図ります。
                  .card__img-wrapper
                    img.card__img(src="/aobotan/img/about/about__card-img01.jpg" alt="経営層による安全衛生巡視の様子")
              li.section02__card.card
                .card__title 労働災害防止への取り組み・教育体制
                .card__inner
                  .card__body 労働災害の防止に向けた従業員への教育・訓練も欠かせません。新入社員や新規作業員には、安全教育プログラムを実施し、作業時の安全ルールや手順、危険な状況の認識方法などを徹底的に指導しています。さらに、定期的な安全講習会や研修を通じて、従業員の安全意識を高める取り組みを行っています。
                    br
                    | 労働災害が発生した場合には、速やかに原因究明を行い、再発防止策を迅速に実施します。また、従業員からの安全に関する意見や提案を積極的に受け付け、改善に向けた取り組みを推進しています。
                  .card__img-wrapper
                    img.card__img(src="/aobotan/img/about/about__card-img02.jpg" alt="労働災害防止への取り組み・教育体制の様子")
      include ../common/_contact-section.pug
      include ../common/_footer.pug