extends ../common/_layout.pug

block append css
  link(rel='stylesheet', href="/aobotan/css/about/style.css")
block append js 
  script(src='https://code.jquery.com/jquery-3.3.1.js')
  script(src="/suit-site/js/common/script.js" defer)
  script(src="/suit-site/js/about/script.js" defer)

block var
  - var page = 'about'

block main
    main.main
      .fv.about-fv
        .fv__inner.about-fv__inner
      .about
        .about__inner.inner