html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  width: 100%;
}

.body__inner {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .body__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a,
button {
  text-align: left;
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
}
a:hover,
button:hover {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}