html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  width: 100%;
}

.body__inner {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .body__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

ol,
ul {
  list-style: none;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a,
button,
input {
  text-align: left;
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
a:hover,
button:hover,
input:hover {
  cursor: pointer;
}

:root {
  --focus-ring: 2px solid #3b82f6;
}

a[href]:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible,
[role=button]:focus-visible,
[tabindex]:not([tabindex="-1"]):focus-visible {
  outline: var(--focus-ring);
  outline-offset: var(--focus-offset);
  border-radius: 6px;
}

a[href]:focus,
button:focus,
input:focus,
textarea:focus,
select:focus,
[role=button]:focus,
[tabindex]:not([tabindex="-1"]):focus {
  outline: var(--focus-ring);
  outline-offset: var(--focus-offset);
}

a[href]:focus:not(:focus-visible),
button:focus:not(:focus-visible),
input:focus:not(:focus-visible),
textarea:focus:not(:focus-visible),
select:focus:not(:focus-visible),
[role=button]:focus:not(:focus-visible),
[tabindex]:not([tabindex="-1"]):focus:not(:focus-visible) {
  outline: none;
}

button:disabled:focus,
input:disabled:focus,
textarea:disabled:focus,
select:disabled:focus,
[aria-disabled=true]:focus {
  outline: none;
}

img {
  width: 100%;
  height: auto;
}

.section-title__ja {
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .section-title__ja {
    font-size: 2.4rem;
  }
}

.section-title__en {
  width: 242px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .section-title__en {
    width: 429px;
    margin-top: 40px;
  }
}

.section-title-sub {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8;
  color: #000000;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .section-title-sub {
    font-size: 1.6rem;
  }
}

.title--about {
  width: 242px;
}
@media screen and (min-width: 768px) {
  .title--about {
    width: 339px;
  }
}
@media screen and (min-width: 1024px) {
  .title--about {
    width: 429px;
  }
}

.title--service {
  width: 277px;
}
@media screen and (min-width: 768px) {
  .title--service {
    width: 401px;
  }
}
@media screen and (min-width: 1024px) {
  .title--service {
    width: 491px;
  }
}

.title--news {
  width: 192px;
}
@media screen and (min-width: 768px) {
  .title--news {
    width: 250px;
  }
}
@media screen and (min-width: 1024px) {
  .title--news {
    width: 340px;
  }
}

.title--contact {
  width: 311px;
}
@media screen and (min-width: 768px) {
  .title--contact {
    width: 463px;
  }
}
@media screen and (min-width: 1024px) {
  .title--contact {
    width: 553px;
  }
}

.btn {
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn--circle {
  position: relative;
}
.btn--circle:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.btn--primary {
  border: 1px solid #000000;
  color: #000000;
  width: 240px;
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
}
.btn--primary:after {
  background-color: #000000;
}
@media (hover: hover) {
  .btn--primary:hover {
    color: #FFFFFF;
    background-color: #000000;
  }
  .btn--primary:hover:after {
    background-color: #FFFFFF;
  }
}

.btn--secondary {
  border: 1px solid #4282B8;
  color: #4282B8;
  width: 260px;
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  height: 60px;
}
.btn--secondary:after {
  background-color: #4282B8;
}
@media (hover: hover) {
  .btn--secondary:hover {
    color: #FFFFFF;
    background-color: #4282B8;
  }
  .btn--secondary:hover:after {
    background-color: #FFFFFF;
  }
}
@media screen and (min-width: 768px) {
  .btn--secondary {
    width: 284px;
  }
}

.contact-common {
  padding-top: 85px;
}
@media screen and (min-width: 768px) {
  .contact-common {
    padding-top: 160px;
  }
}

.contact-common__inner {
  padding: 27px 20px;
  background-color: #F8F8F8;
  position: relative;
  width: 100%;
}
.contact-common__inner:after {
  content: "";
  display: block;
  width: 15.7333333333%;
  aspect-ratio: 59/86;
  position: absolute;
  background-image: url("/aobotan/img/top/contact/contact.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: -10%;
  right: 8%;
}
@media screen and (min-width: 768px) {
  .contact-common__inner {
    padding: 32px 24px;
    border-radius: 50px 0 0 50px;
  }
  .contact-common__inner:after {
    content: "";
    display: block;
    width: 15.0862068966%;
    aspect-ratio: 175/256;
  }
}

.contact-common__body {
  margin-top: 47px;
}
@media screen and (min-width: 1024px) {
  .contact-common__body {
    margin-top: 39px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.contact-common__tel-wrapper {
  padding-bottom: 29px;
  border-bottom: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
@media screen and (min-width: 1024px) {
  .contact-common__tel-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 32px;
    border-bottom: none;
    padding-bottom: 0;
  }
}

.contact-common__tel-eng {
  font-size: 3.2rem;
  font-weight: 700;
  display: inline-block;
}

.contact-common__tel-ja {
  font-size: 1.2rem;
  font-weight: 700;
  display: inline-block;
  margin-left: 16px;
}
@media screen and (min-width: 1024px) {
  .contact-common__tel-ja {
    margin-left: 0;
    margin-top: 10px;
  }
}

.contact-common__num-wrapper {
  padding: 24px 0 36px 0;
}
@media screen and (min-width: 1024px) {
  .contact-common__num-wrapper {
    padding: 0 32px;
  }
}

.contact-common__num {
  font-size: 3.2rem;
  font-weight: 700;
  color: #000000;
}

.contact-common__num-hours {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000000;
  margin-top: 10px;
  display: block;
}

.contact-common__mail-btn {
  margin: 0 auto;
  width: 284px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.contact-common__mail-btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("/aobotan/img/common/mail.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 1024px) {
  .contact-common__mail-btn {
    margin: 0 0 0 32px;
  }
}

.fv {
  width: 100%;
  position: relative;
  padding-top: 112px;
}
@media screen and (min-width: 768px) {
  .fv {
    padding-top: 3.4482758621%;
  }
  .fv:before {
    content: "";
    width: 62.6724137931%;
    aspect-ratio: 727/583;
    background-color: #4282B8;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: inline-block;
  }
}

.fv__inner {
  position: relative;
  width: calc(100% - 10px);
}
@media screen and (min-width: 768px) {
  .fv__inner {
    width: 96.5517241379%;
    aspect-ratio: 1120/681;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.about-fv__inner {
  background-image: url("/aobotan/img/about/about-fv.jpg");
}

.service-fv__inner {
  background-image: url("/aobotan/img/service/service-fv.jpg");
}

.contact-fv__inner {
  background-image: url("/aobotan/img/contact/contact-fv.jpg");
}

.lower-title {
  position: relative;
  width: 100%;
}
.lower-title:after {
  content: "";
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .lower-title:after {
    width: 14.224137931%;
    aspect-ratio: 165/198;
    top: 0;
    left: 50%;
  }
}

.lower-title__main {
  font-size: 2.4rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .lower-title__main {
    text-align: left;
  }
}

.lower-title__sub {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
  color: #000000;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .lower-title__sub {
    margin-top: 64px;
    max-width: 422px;
  }
}

.title--about:after {
  background-image: url("/aobotan/img/about/about-img01.png");
}

.title--service:after {
  background-image: url("/aobotan/img/service/service-img01.png");
}

.title--contact:after {
  background-image: url("/aobotan/img/contact/contact-img01.png");
}

.contact__inner {
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .contact__inner {
    padding-top: 64px;
  }
}

.contact__contents {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .contact__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 960px;
    margin-top: 62px;
  }
}

@media screen and (min-width: 768px) {
  .contact__contents-main {
    width: 48.9583333333%;
  }
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 22px;
  -moz-column-gap: 22px;
  column-gap: 22px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 52px;
    -moz-column-gap: 52px;
    column-gap: 52px;
    margin: 0;
  }
}

.bar-item {
  position: relative;
  width: 150px;
  height: 50px;
  padding: 7px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px solid #4282B8;
}
@media screen and (min-width: 768px) {
  .bar-item {
    width: 208px;
    height: 58px;
    padding: 10px 0;
  }
}

.bar-item.is--active {
  border: 1px solid #4282B8;
  background-color: #4282B8;
  color: #FFFFFF;
}
.bar-item.is--active > .bar-item__num {
  color: #FFFFFF;
}
.bar-item.is--active > .bar-item__text {
  color: #FFFFFF;
}

.bar-item:not(:first-child):before {
  content: "";
  display: block;
  width: 22px;
  height: 1px;
  background-color: #4282B8;
  position: absolute;
  top: 50%;
  right: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .bar-item:not(:first-child):before {
    width: 52px;
  }
}

.bar-item__num {
  font-size: 1.2rem;
  font-weight: 700;
  color: #4282B8;
  text-align: center;
  display: block;
}

.bar-item__text {
  font-size: 1.4rem;
  font-weight: 700;
  color: #4282B8;
  text-align: center;
  display: block;
}
@media screen and (min-width: 768px) {
  .bar-item__text {
    font-size: 1.6rem;
  }
}

.contact__contents-sub {
  margin-top: 40px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contact__contents-sub {
    width: 27.0833333333%;
    margin-top: 0;
    text-align: left;
  }
}

.contact__tel-text {
  font-size: 1.6rem;
  font-weight: 700;
  color: #000000;
  display: block;
}

.contact__num {
  font-size: 3.2rem;
  font-weight: 700;
  color: #000000;
  display: block;
  margin-top: 29px;
}

.contact__num-hours {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000000;
  display: block;
  margin-top: 14px;
}

#loadingOverlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.9);
  display: grid;
  place-items: center;
  z-index: 9999;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 4px solid #ccc;
  border-top-color: #1e90ff;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.btn--return {
  margin: 60px auto 0;
  color: #FFFFFF;
  background-color: #4282B8;
  width: 284px;
  line-height: 60px;
  display: block;
}
.btn--return:after {
  background-color: #FFFFFF;
}
.btn--return:hover {
  color: #4282B8;
  background-color: #FFFFFF;
}
.btn--return:hover:after {
  background-color: #4282B8;
}
@media screen and (min-width: 768px) {
  .btn--return {
    margin-top: 113px;
  }
}