@use "../base/base";
@use "../global" as *;

/* =========================================================
header-sp
========================================================= */
.header{
  width: 100%;
  position: relative;
  @include mq("md"){
    width: 240px;
  }
  @include mq("lg"){
   width: 280px;
  }
}
.header-sp {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $header;
  width: 100%;
}

.header-sp__inner {
  width: 100%;
  display: flex;
}

.header-sp__logo {
  width: 98px;
  margin-right: auto;
  padding-top: 10px;
}

.logo-title__link {
  display: block;
  width: 100%;
}

.hamberger {
  width: 56px;
  height: 48px;
  background-color: $blue;
  position: relative;
}

.hamberger__line {
  width: 32px;
  height: 1px;
  background-color: $white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;

  &:first-child {
    top: 12px;
  }
  &:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &:last-child {
    bottom: 12px;
  }
}

.hamberger__line.is-open {
  &:first-child {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:nth-child(2) {
    opacity: 0;
  }
  &:last-child {
    bottom: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
  }
}


.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $white;
  z-index: $drawer;
  transition: all 0.3s ease;
  display: none;
  overflow-y: scroll;
  scrollbar-width: none;
  &.is-open {
    display: block;
  }
}

.drawer__inner {
  width: 100%;
  padding: 148px 20px 80px 20px;
}

.drawer__items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.drawer__item {
  margin-bottom: 20px;
  text-align: center;
}

.drawer__item:not(:first-child) {
  margin-top: 32px;
}

.drawer__link {
  display: inline-block;
  color: $black;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: $normal;
  text-align: center;
}

.drawer__link.drawer__item--title {
  font-size: 1.8rem;
  font-weight: $bold;
  border-bottom: 1px solid $blue;
  padding-bottom: 3px;
}

.drawer__link.drawer__link--contact {
  position: relative;
  font-weight: $bold;
  font-size: 1.8rem;
  &:before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("/aobotan/img/common/mail.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
  }
}

.drawer__copy{
  display: block;
  margin: 0 auto;
  margin-top: 28px;
}

/* =========================================================
header-pc
========================================================= */

.header-pc{
  position: fixed;
  background-color: $white;
  top: 0;
  left: 0;
}

.header-pc__inner{
  padding: 74px 20px 0 20px;
  @include mq("lg"){
    padding: 74px 40px 0 40px;
  }
}

.header-pc__logo {
  width: 200px;
  margin: 0 auto;
}

.header-pc__nav{
  margin-top: 57px;
}

.header-pc__nav-items{
  border-bottom: 1px solid $blue;
  padding-bottom: 32px;
}

.header-pc__nav-title-wrapper{
  padding-bottom:32px;
  border-bottom: 1px solid $blue;
}

.header-pc__nav-title{
  font-size: 2rem;
  font-weight: $bold;
  display: block;
  width: 100%;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:0;
    width: 24px;
    height: 1px;
    background-color: $blue;
    transition: all 0.3s ease;
  }
  &:after{
    content: "";
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:12px;
    width: 1px;
    height: 24px;
    background-color: $blue;
    transition: all 0.3s ease;
  }
}

.header-pc__nav-title--news, 
.header-pc__nav-title--contact{
  &:before{
    display: none;
  }
  &:after{
    display: none;
  }
}
.header-pc__nav-title-wrapper:not(:first-child){
  margin-top: 32px;
}

.header-pc__nav-title-wrapper.is-open > .header-pc__nav-title{
  &:before{
    opacity: 0;
  }
  &:after{
    transform: translateY(-50%) rotate(90deg);
  }
}

.header-pc__nav-items{
  display: none;
  padding: 32px 17px;
  border-bottom: 1px solid $blue;
}

.header-pc__nav-item:not(:first-child){
  margin-top: 24px;
}

.header-pc__nav-link{
  font-size: 1.4rem;
  font-weight: $bold;
  color: $black;
}
