@use "../base/base";
@use "../global" as *;

.fv {
  width: 100%;
  position: relative;
  padding-top: 112px;
  @include mq("md") {
    padding-top: calc(40 / 1160 * 100%);
    &:before {
      content: "";
      width: calc(727 / 1160 * 100%);
      aspect-ratio: 727 / 583;
      background-color: $blue;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      display: inline-block;
    }
  }
}

.fv__inner {
  position: relative;
  width: calc(100% - 10px);
  @include mq("md") {
    width: calc(1120 / 1160 * 100%);
    aspect-ratio: 1120 / 681;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.about-fv__inner {
  background-image: url("/aobotan/img/about/about-fv.webp");
}

.service-fv__inner {
  background-image: url("/aobotan/img/service/service-fv.webp");
}

.contact-fv__inner {
  background-image: url("/aobotan/img/contact/contact-fv.webp");
}
