@use "../base/base";
@use "../global" as *;
@use "header";
@use "footer";

.main {
  width: 100%;
  @include mq("md") {
    width: calc(100% - 240px);
    background-color: none;
  }
  @include mq("lg"){
    width: calc(100% - 280px);
  }
}

.inner{
  padding: 0 20px;
  @include mq("md"){
    padding: 0;
  }
}
// spでは表示
.md-none{
  @include mq("md"){
    display: none !important;
  }
}

// pcで表示
.md-show{
  display: none !important;
  @include mq("md"){
    display: block !important;
  }
}

// display: flex;が要素に指定してある場合
.md-show-for-flex{
  display: none !important;
  @include mq("md"){
    display: flex !important;
  }
}