@use "../global" as *;
html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $base-font;
  width: 100%;
}

.body__inner{
  width: 100%;
  @include mq("md") {
    display: flex;
  }
}

ol,ul{
  list-style: none;
}

// PCでは電話番号のクリックを無効にする
a[href^="tel:"] {
  pointer-events: none;
  @include mq("md") {
    pointer-events: auto;
  }
}

// aタグには標準でホバーアニメーションが付与されるようにする
a,
button {
  text-align:  left;
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  &:hover{
    cursor: pointer;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
