@use "../base/base";
@use "../global" as *;
@use "../common/section-title";
@use "../common/contact-section";
@use "../common/lower-fv";
@use "../common/lower-title";
@use "../common/scroll-btn";
@use "../common/loading";

.about__inner {
  width: 100%;
  padding-bottom: 60px;
  @include mq("md"){
    padding-top: 64px;
  }
}

// 経営理念

.about__section-title {
  margin-top: 50px;
  font-size: 2rem;
  font-weight: $bold;
  color: $black;
  text-align: center;
  @include mq("md") {
    font-size: 3.2rem;
    margin-top: 80px;
    text-align: left;
  }
}

.section01-body {
  margin-top: 30px;
  aspect-ratio: 923 / 519;
  @include mq("md") {
    width: 100%;
    margin-top: 64px;
  }
}

// 会社概要

.section02__wrapper {
  margin-top: 30px;
  @include mq("lg") {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    max-width: 953px;
    flex-direction: row;
  }
}

.section02__body {
  @include mq("lg") {
    width: calc(485 / 953 * 100%);
  }
}

.section02__body-text {
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: $normal;
  line-height: 1.8;
  color: $black;
  @include mq("md") {
    margin-top: 64px;
  }
  @include mq("lg") {
    margin-top: 20px;
  }
}

.section02__thumb {
  width: 60%;
  margin: 20px auto 0;
  @include mq("md") {
    margin-top: 20px;
    width: 50%;
    margin-left: auto;
  }
  @include mq("lg") {
    width: calc(331 / 953 * 100%);
    margin-top: 0;
  }
}

.section02__thumb-img-wrapper {
  width: 100%;
  aspect-ratio: 331 / 425;
}

.section02__role {
  color: $black;
  font-weight: $normal;
  font-size: 1.6rem;
  margin-top: 16px;
  display: inline-block;
}

.section02__name {
  color: $blue;
  font-weight: $bold;
  font-size: 2.6rem;
  margin-top: 16px;
  @include mq("md") {
    color: $blue;
    font-weight: $bold;
    font-size: 3.2rem;
    margin-top: 24px;
  }
}

// 会社概要テーブル
.section02__table {
  margin-top: 40px;
  width: 100%;
  border-collapse: collapse;
  background-color: $white;
  @include mq("md") {
    max-width: 953px;
    margin-top: 82px;
  }
}

.section02__table-row {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $blue;
  row-gap: 8px;
  padding: 16px 0;
  @include mq("md") {
    padding: 30px 0;
    flex-direction: row;
  }
}

.section02__table-label {
  font-weight: $bold;
  color: $black;
  font-size: 1.6rem;
  @include mq("md") {
    width: 25%;
  }
}

.section02__table-value {
  background-color: $white;
  color: $black;
  font-size: 1.6rem;
  line-height: 1.5;
}


// 安全への取り組み
.sectoin03__cards {
  margin-top: 40px;
  @include mq("md") {
    margin-top: 88px;
    max-width: 953px;
  }
}

.section02__card:not(:first-child) {
  margin-top: 40px;
  @include mq("md") {
    margin-top: 30px;
  }
}

.card__title {
  font-size: 1.8rem;
  font-weight: $bold;
  color: $black;
  @include mq("md") {
    font-size: 2.4rem;
  }
}

.card__inner {
  @include mq("lg") {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
    column-gap: 30px;
  }
}

.card__body {
  margin-top: 30px;
  font-size: 1.6rem;
  line-height: 1.8;
  font-weight: $normal;
  color: $black;
  @include mq("md") {
    width: 100%;
    margin: 30px auto 0;
  }
  @include mq("lg") {
    width: calc(642 / 953 * 100%);
    margin:0;
  }
}

.card__img-wrapper {
  width: 100%;
  aspect-ratio: 331 / 250;
  margin-top: 30px;
  @include mq("md") {
    width: 70%;
    margin: 30px auto 0;
  }
  @include mq("lg") {
    width: calc(331 / 953 * 100%);
    margin-top: 0;
  }
}

.card__img-wrapper > img{
  object-fit: cover;
}